main{
    width: 100%;
}

nav{
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
}

nav a{
    margin: 0;
    background-color:rgba(126, 172, 212, 0.805);
}

aside{
    width: 100%;
}

#div1{
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
   
}



